aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-sas==1.1.10
attrs==21.2.0
autopep8==1.6.0
beautifulsoup4==4.10.0
boto3==1.20.23
botocore==1.23.23
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cloudflare==2.8.15
cryptography==36.0.0
idna==3.3
jmespath==0.10.0
jsonlines==3.0.0
phpipam-client==0.4.0
pycodestyle==2.8.0
pycparser==2.21
python-dateutil==2.8.2
PyYAML==6.0
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.7
